/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;;
}

/* General Classes */
.container {
    margin: 0 auto;
    width: 80%;
}

/* Header */
header {
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header .header-wrapper nav {
    width: 20%;
}

header .header-wrapper nav ul {
    list-style-type: none;
    display: flex;
}

header .header-wrapper nav ul li {
    margin-left: 0.75rem;
    line-height: 2rem;
    color: white;
    font-weight: bold;
}

header .header-wrapper .logo {
    width: 60%;
    text-align: center;
}

header .header-wrapper .logo img {
    height: 2rem;
}

header .header-wrapper .user-buttons {
    width: 20%;
    color: white;
    line-height: 2rem;
}

header .header-wrapper .user-buttons > * {
    margin-left: 0.25rem;
}

/* Products */
.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9rem;
}

.products-wrapper .product {
    width: calc(100% / 3 - 2rem);
    margin: 2rem 1rem;
}

.products-wrapper .product .product-showcase {
    position: relative;
    height: 924px;
}

.products-wrapper .product .product-showcase .heart {
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem 0;
    font-size: 2rem;
    text-align: center;
}

.products-wrapper .product .product-showcase .heart:hover {
    color: red;
}

.products-wrapper .product .product-showcase .sale {
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 4rem;
    left: 0;
    height: 1.5rem;
    width: 3rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.75rem;
}

.products-wrapper .product .product-showcase .sustainability {
    background-color: rgb(0, 128, 0);
    position: absolute;
    bottom: 4rem;
    left: 3.5rem;
    height: 1.5rem;
    width: 6.5rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.90rem;
    font-weight: 700;
}

.products-wrapper .product .product-showcase .sustainability-no-sale {
    left: 0rem;
}

.products-wrapper .product .product-info .product-name {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.products-wrapper .product .product-info .sale-price {
    color: red;
}

.products-wrapper .product .product-info .price {
    text-decoration: line-through;
}

/* Products Background */
.products-wrapper .pd1 {
    background-image: url("../img/1.webp");
}

.pd1:hover {
    background-image: url("../img/1b.webp");
}

.products-wrapper .pd2 {
    background-image: url("../img/2.webp");
}

.pd2:hover {
    background-image: url("../img/2b.webp");
}

.products-wrapper .pd3 {
    background-image: url("../img/3.webp");
    background-position: center;
    background-size: cover;
}

.pd3:hover {
    background-image: url("../img/3b.webp");
}

.products-wrapper .pd4 {
    background-image: url("../img/4.webp");
}

.pd4:hover {
    background-image: url("../img/4b.webp");
}

.products-wrapper .pd5 {
    background-image: url("../img/5.webp");
}

.pd5:hover {
    background-image: url("../img/5b.webp");
}

.products-wrapper .pd6 {
    background-image: url("../img/6.webp");
}

.pd6:hover {
    background-image: url("../img/6b.webp");
}

/* Footer */
footer {
    background-color: rgb(26, 26, 26);
}

footer .footer-wrapper {
    display: flex;
    color: white;
    padding: 2rem 0;
}

footer .footer-wrapper .footer-info {
    width: 80%;
}

footer .footer-wrapper .contacts {
    width: 20%;
    font-size: 1.2rem;
}

footer .footer-wrapper .contacts .socials {
    display: flex;
    justify-content: end;
}

footer .footer-wrapper .contacts p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
    padding-right: 1rem;
}

footer .footer-wrapper .contacts .socials a > * {
    font-size: 1.25rem;
    color: white;
}

footer .footer-wrapper .footer-info a,
footer .footer-wrapper .contacts .socials a {
    color: white;
    text-decoration: none;
    margin-right: 0.5rem;
}